<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>海澜之家</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon29</string>
				<string>icon120</string>
				<string>icon114</string>
				<string>icon57</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.donson.hlzj</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_CN</string>
		<string>en</string>
	</array>
	<key>CFBundleName</key>
	<string>hailanzhijia</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencentopenapi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent100413365</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.weibo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb552828054</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxf7787aeb11542efa</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>HaiLanZhiJia</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>HaiLanZhiJia</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>Partner</key>
	<string>2088001972246472</string>
	<key>RSA private key</key>
	<string>MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBAOWJZHgOI+KbXugA1h4T0XV0DnVhhbGY8/aeqD1IXDqkBewYVop2ycyINsC11apu12nX2ESb65gWJwS4n+IeB1c+aW3kzvsMPqP+snEbKuVIWnPq40EFf3/Ii8nJHNqM8iRaoNv+t4biZ88ojtGYMDYhSFgn6NVT5zjb232pw3YlAgMBAAECgYEAyfAS9NAz3/QjDedWeMWkvDlrUveGQFW5JFo21xtnEKwnDavnzw9swEWCLg6LONMlLtgXS10FaxrqHuwytSMH/p1fMijOBrDKuwo2yd0rnJNMMQaXge/z7Sic3ql/Jw/RtRCvyu/H31BIN7dljXFwp1i1NGy1Dp8FA9i2CSUU600CQQD868ipCH83N1v3VyGFd0Ay3q0g1gTzOujdhdeVHdz7B2N6BZgJGlUaqkgq1NmJKpASS4dm9lWX6RKbEO3kPF8zAkEA6FS7glzIG8vqCHnxQ9RcO2KC3cfqCze9UVJl6wdyQlNf9m82hFBNHe/ndRZOE2iNPvW5XkvLubiYvJAIk3K1RwJBAPtD8zGas2fTo5XyBedmNW1UM4Mvm/NYTwfkc+w8otDw4i7TZ9uDQZEgIloK46KVmlPSnU3448frUQSkqPHZ2GkCQAO50CQADul7NK6cHgVjc3M0WjrqSNOTOkMCmkXRocB0i9Zs5CftDb+MKF8VU302MQWwdR+RAZxh3HkxqiGLNmMCQDdnxkMAfvLuxahvNimUFV4VoKtCcayIC+IJrefCUW3BVptCZxulk88aocw7LW56xHwcm0ChdKMlkGmTYamQAoU=</string>
	<key>RSA public key</key>
	<string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQChhJyjxYniah/98EZPwOhcV6u9LdngWGYFN7tK CMCKTgqu0EP0Ir7wuz3AxJWrOixGaV4i6qD3bnKCy7ifGQtDqUSf+Uxy6uQA7dcrmroonE6lRmJY ndwD2WhlXefkbbTXAPcMHYdWbGQbihg6KpsXBVS6wbTzL+WinxWyxz1bIwIDAQAB</string>
	<key>Seller</key>
	<string>2088001972246472</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
